*.py[co]
.tags
.codeintel

# Packages
*.egg
*.egg-info
dist build eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg

# django static
static/*
media/*

# db
*.db*

# pycharm
.idea

# logs
log/*

#dict
*.dict

#tmp
tmp/*

*.DS_Store

# bower component
components/*
cerf/static/cerf/components/*

# migrations
# cerf/migrations/*

# uploaded files
uploads/*

