{% extends 'cerf/base.html' %}
{% load static %}
{% load general_filters %}

{% block title %}{{ report.name }} for {{ report.applicant }} by {{ report.manager }}{% endblock %}

{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="{% static "cerf/js/plugins/faq/faq.css" %}"
        xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" type="text/css" href="{% static "cerf/css/prettify/hemisu-light.css" %}">
{% endblock %}

{% block content %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="widget stacked">
          <div class="widget-header">
            <i class="icon-pushpin"></i>
            <h3>{{ report.name }} for {{ report.applicant }} by {{ report.manager }}</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div class="faq-text">
              <h3>Summary</h3>

              <blockquote>
              <p>{{ report.description }}</p>
              </blockquote>

              {% if not report.started or not report.time_spent %}
                {{ report.started }} and {{ report.time_spent }}
                <p><em>This exam hasn't been started or finished.</em>. View <a href="{% url "interview_instruction" interview.id %}">Instruction</a></p>
              {% else %}
                <p>The exam took for <em>{{report.time_spent}}</em> minutes. Total <em>{{applicant_count}}</em> applicants took this exam, average time spent is <em>{{avg_time_spent}}</em> minutes.</p>

                {% for result in report.results %}
                  <h4>Case{{result.position}}: {{result.name}}</h4>

                  <pre>{{result.description|trim}}</pre>

                  <p>This case is for <em>{{result.level}}</em> on <em>{{result.type}}</em>. The category is <em>{{result.category}}</em>. Coding language should be <em>{{result.language}}</em>. Expected time spent on it is <em>{{ result.expected_time }} minutes</em></p>

                  {{result.code|safe}}



                {% endfor %}
              {% endif %}
            </div>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div> <!-- /span8 -->

      <div class="span4">
        <div class="widget stacked widget-box">
          <div class="widget-header">
            <h3>Toolbox for Future Use</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div> <!-- /span4 -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
{% endblock %}

{% block extra_script %}
  <script type="text/javascript" src="{% static "cerf/components/bootstrap/docs/assets/js/google-code-prettify/prettify.js" %}"></script>
  <script>prettyPrint();</script>
{% endblock %}