{% extends 'cerf/base.html' %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static "cerf/css/pages/signin.css" %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}

<div class="account-container stacked">
  <div class="content clearfix">
    <form action="" method="post">
      <h1>Sign In</h1>
      <div class="login-fields">
        <p>Sign in using your registered account:</p>

        <div class="field">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field"/>
        </div> <!-- /password -->
      </div> <!-- /login-fields -->

      <div class="login-actions">
        <span class="login-checkbox hide">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
          <label class="choice" for="Field">Keep me signed in</label>
        </span>
        <button class="button btn btn-warning btn-large" type="submit">Sign In</button>
        {% csrf_token %}
      </div> <!-- .actions -->
    </form>
  </div> <!-- /content -->
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
  Want to manage the interviews and exams? <a href="/admin/">Admin Login</a><br/>
</div> <!-- /login-extra -->


{% endblock %}